<div class="outer">
    <div class="content">
        <div class="topHolder">
          <h2>Confirmed Bookings</h2>
            <input type="text" [(ngModel)]="request" placeholder="Search by Room" (ngModelChange)="filter()">
          </div>
        
            <div class="tableHolder">
              <table>
                <tr>
                  <th>
                    Cabinet 
                  </th>
                  <th>
                    Sender 
                  </th>
                  <th>
                    Sender Info 
                  </th>
                  <th>
                    Reason
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Start Time
                  </th>
                  <th>
                    End Time
                  </th>
                  <th>
                    Action
                  </th>
                </tr>
                <tr *ngFor="let item of searchedRequests">
                  <td>
                    <b>{{item.room}}</b> 
                  </td>
                  <td>
                    <b>{{item.reserver}}</b> 
                  </td>
                  <td>
                    <b>{{item.reserver_info}}</b> 
                  </td>
                  <td>
                    <b>{{item.reason}}</b> 
                  </td>
                  <td>
                    <b>{{formatDate(item.date)}}</b> 
                  </td>
                  <td>
                    <b>{{item.start_time}}</b> 
                  </td>
                  <td>
                    <b>{{item.end_time}}</b> 
                  </td>
                  <td>
                      <div class="center">
                        <button id="reject" (click)="reject(item.id, item.reserver_email)">Delete</button>
                      </div>
                  </td>
                </tr>
              </table>
            </div>
    </div>
</div>


