<div class="contentHolder">
  <div class="subject" *ngFor="let subject of subjects; let i = index">
    
    <h2 *ngIf="subject.subject">{{ 'POP-UP.subject' | translate }}: <span id="valueSubject">{{ subject.subject }}</span></h2>
    <h2 *ngIf="subject.reason">{{ 'POP-UP.title' | translate }}: <span id="valueBooking">{{ subject.reason }}</span></h2>
    
    <hr style="border-top: dashed 1px;">
    
    <p><b>{{ 'POP-UP.type' | translate }}:</b> {{ subject.lesson_type || 'booking' }}</p>
    
    <p><b>{{ 'POP-UP.location' | translate }}:</b> {{ subject.room }}</p>
    
    <p><b>{{ 'POP-UP.time' | translate }}:</b> {{ subject.start_time }}-{{ subject.end_time}}</p>

    <P *ngIf="subject.tutor"><b>{{ 'POP-UP.tutor' | translate }}:</b> {{ subject.tutor }}</P>
    <P *ngIf="subject.reserver"><b>{{ 'POP-UP.tutor' | translate }}:</b> {{ subject.reserver }}</P>
    
    <hr style="border-top: solid 4px;">
  </div>
</div>