
.contentHolder {

    .subject {
        // border: 1px solid black;
        // border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        // padding: 10px;
    }

    h2 {
        #valueSubject {
            color:rgb(69, 124, 206);
        } 
        #valueBooking {
            color:rgb(165, 52, 214);
        } 
    } 
}