<div class="outer">
    <div class="content">
        <h2 class="headText">Interactive map of University</h2>

        <div style="display: flex; flex-direction:column; justify-content: center; align-items: center; margin-bottom: 1rem">
            <button class="picker" [disabled]="floor > 2" (click)="setUpperFloor()"><mat-icon>expand_less</mat-icon></button>
            <p style="color: white; font-size: 1.1rem; text-align:center">Floor: #{{ floor }}</p>
            <button class="picker" [disabled]="floor < 2" (click)="setLowerFloor()"><mat-icon>expand_more</mat-icon></button>
        </div>

        <div style="background: white;margin-bottom: 2rem" id="map">
        <img style="width: 100%;" src="../../assets/map/floor{{floor}}.svg" alt="No Floor Map">

        </div>
    </div>
</div>