<mat-toolbar>
    <button class="menu" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
  
    <p id="logo">Astana IT University</p>
  
    <mat-select disableOptionCentering value="{{language}}" (selectionChange)="setLanguage($event)">
      <mat-option *ngFor="let item of languages | keyvalue" [value]="item.key">
        {{item.value}}
      </mat-option>
    </mat-select>
  
    <div class="right">
      <p>{{username}}</p>
      <button *ngIf="!username" (click)="login()" id="login">{{ 'HEADER.sign-in' | translate }}</button>
      <button *ngIf="username" (click)="logout()" id="login">{{ 'HEADER.log-out' | translate }}</button>
    </div>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
        <div class="vertical">
          <div *ngIf="username" class="item" routerLink="home-page" routerDirection="root">
            <mat-icon>home</mat-icon>
            <p>{{ 'SIDE-MENU.home-tab' | translate }}</p>
          </div>
    
          <div class="item" routerLink="search" routerDirection="root">
            <mat-icon>search</mat-icon>
            <p>{{ 'SIDE-MENU.search-tab' | translate }}</p>
          </div>
    
          <div *ngIf="username" class="item" routerLink="booking" routerDirection="root">
            <mat-icon>event</mat-icon>
            <p>{{ 'SIDE-MENU.booking-tab' | translate }}</p>
          </div>

          <div class="item" *ngIf="isAdmin" routerLink="admin-board" routerDirection="root">
            <mat-icon>developer_board</mat-icon>
            <p>{{ 'SIDE-MENU.dev-board-tab' | translate }}</p>
          </div>

          <div class="item" *ngIf="isAdmin" routerLink="admin-history" routerDirection="root">
            <mat-icon>history</mat-icon>
            <p>{{ 'SIDE-MENU.history-tab' | translate }}</p>
          </div>

          <div class="item" *ngIf="isAdmin" routerLink="admin-confirmed" routerDirection="root">
            <mat-icon>check_box</mat-icon>
            <p>{{ 'SIDE-MENU.confirm-tab' | translate }}</p>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>