mat-toolbar {
    display: flex;
    background: transparent;
    padding: 1rem 1.5rem;
  }

  mat-select{
    font-size: 1.1rem;
  }

  .right{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p{
      font-size: 1.1rem;
      margin-right: 1rem;
    }

    #login{
        padding: 0.5rem 1rem;
        border-radius: 10px;
        font-size: 1.1rem;
        border: none;
        background-color: transparent;
        color: black;
      }

    #login:hover{
      color: white;
      background-color: #457CCE;
    }
    }
  
  mat-sidenav {
    width: 20rem;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem 1rem 4rem 1rem;
    background: #457CCE;
  
    .vertical{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  
      .item{
          min-width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          background-color: white;
          border-radius: 10px;
          margin-bottom: 0.5rem; 
  
          mat-icon{
            margin: 0 0.5rem;
          }
  
          p{          
              font-size: 1.1rem;
              color: black;
          }
      }
  
      #logout{
          margin-top: auto;
  
          mat-icon{
            color: #9F4242;
          }
  
          p{
              color: #9F4242;
          }
      }
    }
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  #logo {
    padding-left: 1.5rem;
    margin: 0 2rem 0 0;
  }
  
  .menu{
    background-color:#457CCE;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
  }

  .headText{
    margin-top: 7rem;
    color: white;
    font-size: 4rem;
  }
  
  .searchBar{
    padding: 1rem;
    border-radius: 10px;
    margin: 3rem 0;
    width: 40%;
    display: flex;
    align-items: center;
    background-color: white;
  
    select{
      margin-left: 1rem;
      border: none;
      font-size: 1.1rem;
      background-color: white;
    }
  
    input{
      width: 70%;
      margin-left: 1rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      background-color: white;
      font-size: 1.1rem;
      border: none;
      border-left: 2px solid black;
    }
  
    input:focus, select:focus{
      outline: none;
    }
  
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0.5rem;
      background-color: #457CCE;
      border-radius: 10px;
      color: white;
      margin-left: auto;
    }
  }
  
  h2{
    margin: 0;
    padding: 0;
  }
  
  .grid-container{
    width: 80%;
    margin: 2rem 0;
    display: grid;
    gap: 0;
  
    grid-template-columns: 0.1fr repeat(6, 1fr);
  }
  
  .grid-item{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .day{
    height: 3rem;
    background-color: white;
    border: 1px solid #eeeeee;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p{
      padding: 0;
      margin: 0;
    }
  }
  
  .column{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .time{
    height: 5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid #eeeeee;
    padding: 0 0.5rem;
  
    p{
      padding: 0;
      margin: 0;
    }
  }

  .searchField{
    color: white;
  }
  
  .empty{
    height: 5rem;
    background-color: white;
    border: 1px solid #eeeeee;
  }
  
  .lesson{
    background-color: black;
    grid-column: 5 / 6;
  }
  
  .block{
    height: 5rem;
    max-width: 100%;
    background-color: #457CCE;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
  
    .subject{
      font-weight: 700;
    }
  
    .teacher{
      font-weight: 500;
    }
  
    p{
      width: 100%;
      margin: 0 0 0.5rem 0;
      padding: 0;
      font-size: 0.9rem;
      font-weight: 200;
      padding-left: 0.1rem;
      color: white;
    }
  }
  
  .chartContainer{
    margin: 2rem 0;
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2rem;
  }
  
  .chartHolder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  
  