<div class="outer">
  <div *ngIf="cabinet && search" class="calendarHolder">
    <mat-calendar [(selected)]="date"></mat-calendar>

    <div class="legend">
      <p>Events</p>
      <div class="legendItem">
        <div class="circle" id="green"></div>
        <p>Approved</p>
      </div>
      <div class="legendItem">
        <div class="circle" id="yellow"></div>
        <p>Pending</p>
      </div>
    </div>
  </div>

  <div class="content">
    <p *ngIf="!search" class="headText">Astana IT University</p>

    <div class="actionHolder" [ngStyle]="{'justify-content': search ? 'start' : 'center'}">
      <div *ngIf="cabinet && search" class="date">
        <h1>{{formatDate(date)}}</h1>
        <div class="picker" *ngIf="cabinet">
          <mat-icon>chevron_left</mat-icon>
          <div class="spacer"></div>
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
      <div class="searchBar">
        <mat-select disableOptionCentering value="Поиск по группам">
          <mat-option value="Поиск по группам">
            {{ 'SEARCH.search-option.by-group' | translate }}
          </mat-option>
          <mat-option value="Поиск по учителям">
            {{ 'SEARCH.search-option.by-tutor' | translate }}
          </mat-option>
          <mat-option value="Поиск по кабинетам">
            {{ 'SEARCH.search-option.by-cabinet' | translate }}
          </mat-option>
        </mat-select>
        <input type="text" placeholder="{{ 'SEARCH.search' | translate }} ...">
        <button (click)="setSearch()" mat-icon-button type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <button *ngIf="search" class="export" mat-icon-button>
        <p>Export JPEG</p>
      </button>
    </div>

    <!-- <h2 class="searchField">SE-1902</h2> -->
    <div *ngIf="search" class="grid-container">
      <div class="grid-item">
        <div class="day">
        </div>
        <div class="column">
          <div class="time" *ngFor="let hour of timeArray"><p>{{ hour }}:00</p></div>
        </div>
      </div>

      <div class="content">
        <p *ngIf="!search" class="headText">Astana IT University</p>
  
        <div class="actionHolder" [ngStyle]="{'justify-content': search ? 'start' : 'center'}">
          <div *ngIf="cabinet && search" class="date">
            <h1>{{ formatDate(date) }}</h1>
            <div class="picker" *ngIf="cabinet">
              <mat-icon>chevron_left</mat-icon>
              <div class="spacer"></div>
              <mat-icon>chevron_right</mat-icon>
            </div>
          </div>
          <div class="searchBar">
            <mat-select [(ngModel)]="searchMode" disableOptionCentering>
              <mat-option value="by-group">
                {{ 'SEARCH.search-option.by-group' | translate }}
              </mat-option>
              <mat-option value="by-teacher">
                {{ 'SEARCH.search-option.by-tutor' | translate }}
              </mat-option>
              <mat-option value="by-cabinet">
                {{ 'SEARCH.search-option.by-cabinet' | translate }}
              </mat-option>
            </mat-select>
            <input type="text" [(ngModel)]="searchValue" placeholder="{{ 'SEARCH.search' | translate }} ...">
            <button type="submit" mat-icon-button (click)="setSearch()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
  
          <button *ngIf="search" class="export" mat-icon-button>
            <p>Export JPEG</p>
          </button>
        </div>
  
        <h2 class="searchField">{{ searchResult }}</h2>
        <div *ngIf="search" class="grid-container">
          <div class="grid-item">
            <div class="day">
            </div>
            <div class="column">
              <div class="time" *ngFor="let hour of timeArray"><p>{{ hour }}:00</p></div>
            </div>
          </div>

          <!-- D1 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.mon' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d1')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d1_line"></span>
              <div class="block" id="d1_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d1') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d1_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d1_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

          <!-- D2 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.tue' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d2')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d2_line"></span>
              <div class="block" id="d2_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d2') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d2_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d2_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

          <!-- D3 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.wed' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d3')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d3_line"></span>
              <div class="block" id="d3_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d3') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d3_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d3_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

          <!-- D4 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.thu' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d4')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d4_line"></span>
              <div class="block" id="d4_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d4') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d4_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d4_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

          <!-- D5 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.fri' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d5')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d5_line"></span>
              <div class="block" id="d5_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d5') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d5_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d5_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

          <!-- D6 -->
          <div class="grid-item">
            <div class="day"><p>{{ 'SEARCH.week-day.sat' | translate }}<br>{{ formatDayAndWeek(weekDates.get('d6')) }}</p></div>
            <div class="column">
              <div class="empty" *ngFor="let hour of timeArray"></div>
            </div>
            <div class="subjects">
              <span class="line" id="d6_line"></span>
              <div class="block" id="d6_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d6') | keyvalue" (click)="openSubject(subject.value)">
                <p id="d6_{{ setSubjectId(subject.key) }}_title"></p>
                <p id="d6_{{ setSubjectId(subject.key) }}_room"></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
