.outer{
  width: 100%;
  min-height: 100%;
  display: flex;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.calendarHolder{
  width: 20%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;

  mat-calendar{
    margin-top: 3rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: 10px;
  }

  .legend{
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;

    .circle{
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
    }
    
    #green{
      background-color: #15BE4C;
    }

    #yellow{
      background-color: #EABC04;
    }

    p{
      font-weight: 600;
      padding: 0;
      margin: 0;
    }

    .legendItem{
      margin-top: 1rem;
      align-items: center;
      display: flex;

      p{
        font-weight: 500;
        margin-left: 0.5rem;
      }
    }
  }
}
  
.content {
  flex-grow: 2;
  min-height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  background-color: #485461;
  background: transparent
}

.headText {
  margin-top: 7rem;
  color: white;
  font-size: 4rem;
}

.actionHolder{
  width: 95%;
  display: flex;
  align-items: center;
}

.date{
  margin-right: auto;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: start;

  .picker{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;

    .spacer{
      width: 1.5rem;
    }

    mat-icon{
      transform: scale(1.5);
    }
  }

  h1{
    padding: 0;
    margin: 0;
  }
}
  
.searchBar {
  padding: 0.7rem;
  border-radius: 10px;
  margin: 3rem 0;
  width: 40%;
  display: flex;
  align-items: center;
  background-color: white;
  
  select {
    margin-left: 1rem;
    border: none;
    font-size: 1.1rem;
    background-color: white;
  }
  
  input {
    width: 70%;
    margin-left: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: white;
    font-size: 1.1rem;
    border: none;
    border-left: 2px solid black;
  }
  
  input:focus, select:focus {
    outline: none;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5rem;
    background-color: #457CCE;
    border-radius: 10px;
    color: white;
    margin-left: auto;
    cursor: pointer;
  }
}

.export{
  margin-left: 2rem;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  border: none;
  background-color: #457CCE;
  color: white;

  p{
    font-size: 1rem;
  }
}
  
h2 {
  margin: 0;
  padding: 0;
}
  
.grid-container {
  width: 95%;
  margin: 0 0 2rem 0;
  display: grid;
  gap: 0;
  grid-template-columns: 0.1fr repeat(6, 1fr);
}

.grid-container:first-child{
  border-top-left-radius: 10px;
  background-color: black !important;
}
  
.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#first{
  border-top-left-radius: 10px;
}

#second{
  border-top-right-radius: 10px;
}
  
.day {
  height: 3rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon{
    color: white;
  }

  p {
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;
  }
}
  
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subjects {
  width: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: 5;
  top: 3.1rem;
}
  
.time {
  height: 5rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border: 0.05rem solid #eeeeee;
  padding: 0 0.5rem;
  
  p {
    padding: 0;
    margin: 0;
  }
}

.searchField {
  color: white;
}
  
.empty {
  height: 5rem;
  background-color: white;
  border: 0.05rem solid #eeeeee;
}
  
.lesson {
  background-color: black;
  grid-column: 5 / 6;
}
  
.block {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 5rem;
  width: 97%;
  max-width: 100%;
  background-color: #457CCE;
  color: white;
  border: 0.05rem solid #eeeeee;
  border-left: 0.2rem solid lightgreen;
  
  .subject {
    font-weight: 700;
  }
  
  .teacher {
    font-weight: 500;
  }
  
  p {
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 200;
    padding-left: 0.1rem;
    color: white;
  }
}
  
.chartContainer{
  margin: 2rem 0;
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 10px;
  border: 0.05rem solid black;
  padding: 2rem;
}
  
.chartHolder{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.line {
  //top: 0.2rem;
  width: 100%;
  display: block;
  border-bottom: 0.2rem dashed red; 
  position: absolute; 
  z-index: 10;
}

#d1_line {
  display: none;
}
#d2_line {
  display: none;
}
#d3_line {
  display: none;
}
#d4_line {
  display: none;
}
#d5_line {
  display: none;
}
#d6_line {
  display: none;
}