<mat-spinner id="loader" *ngIf="loading"></mat-spinner>
<div class="outer">
  <!-- content of search by cabinet -->
  <div *ngIf="isCabinet && searchStart" class="calendarHolder">
    <!-- calendar picker -->
    <mat-calendar *ngIf="isCabinet" [(selected)]="selectedDate" (selectedChange)="setSearch()" [dateFilter]="myFilter"></mat-calendar>
    <!-- data legend -->
    <div class="legend">
      <p>{{ 'SEARCH.legend' | translate }}:</p>
      <div class="legendItem">
        <div class="circle" id="blue"></div>
        <p>{{ 'SEARCH.oneLesson' | translate }}</p>
      </div>
      <div class="legendItem">
        <div class="circle" id="myGradient"></div>
        <p>{{ 'SEARCH.severalLessons' | translate }}</p>
      </div>
      <p style="margin-top: 1rem">{{ 'SEARCH.booking' | translate }}:</p>
      <div class="legendItem">
        <div class="circle" id="green"></div>
        <p>{{ 'SEARCH.approved' | translate }}</p>
      </div>
      <div class="legendItem">
        <div class="circle" id="yellow"></div>
        <p>{{ 'SEARCH.pending' | translate }}</p>
      </div>
    </div>
  </div>

  <!-- main content -->
  <div class="content">
    <img *ngIf="!searchStart" id="headText" src="../../assets/imgs/png/logo-white.png">

    <div class="actionHolder" [ngStyle]="{'justify-content': searchStart ? 'start' : 'center'}">

      <!-- data legend -->
      <div *ngIf="!isCabinet && searchStart" class="legend nonCabinetLegend">
        <p>{{ 'SEARCH.legend' | translate }}:</p>
        <div class="legendItem">
          <div class="circle" id="blue"></div>
          <p>{{ 'SEARCH.oneLesson' | translate }}</p>
        </div>
        <div class="legendItem">
          <div class="circle" id="myGradient"></div>
          <p>{{ 'SEARCH.severalLessons' | translate }}</p>
        </div>
      </div>

      <div *ngIf="isCabinet && searchStart" class="date">
        <h1>{{ displaySelectedDate(selectedDate) }}</h1>
      </div>
      <!-- search bar -->
      <div class="searchBar">
        <mat-select [(ngModel)]="searchMode" (selectionChange)="setSearchSuggestions()" disableOptionCentering>
          <mat-option value="by-group">
            {{ 'SEARCH.search-option.by-group' | translate }}
          </mat-option>
          <mat-option value="by-teacher">
            {{ 'SEARCH.search-option.by-tutor' | translate }}
          </mat-option>
          <mat-option value="by-cabinet">
            {{ 'SEARCH.search-option.by-cabinet' | translate }}
          </mat-option>
        </mat-select>
        <input type="text" matInput [(ngModel)]="searchValue" placeholder="{{ 'SEARCH.search' | translate }} &hellip;" 
          (ngModelChange)="filter()" #autoCompleteInput [matAutocomplete]="auto">

        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
          <mat-card style="max-width: 300px">
            <mat-card-content>
              Search value is required
            </mat-card-content>
          </mat-card>
        </mde-popover>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let item of searchedArray" [value]="item['name']">
              {{item['name']}}
          </mat-option>
        </mat-autocomplete>
        <button type="submit" mat-icon-button (click)="setSearch()" 
          [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="none" #popoverTrigger="mdePopoverTrigger">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <button *ngIf="searchStart" class="export" mat-icon-button (click)="getPdf()">
        <p>Export JPEG</p>
      </button>
    </div>

    <!-- timetable-->
    <h2 class="searchField">{{ getSearchResult() }}</h2>
    <div *ngIf="searchStart && ((weekSchedule.size != 0) || ((bookingSchedule.size != 0) && (isCabinet)))" class="grid-container">
      <div class="grid-item">
        <div class="day"></div>
        <div class="column">
          <div class="time" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"><p>{{ time }}</p></div>
        </div>
      </div>

      <!-- D1 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.mon' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d1')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d1_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d1') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d1_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d1_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d1_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d1') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d1_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d1_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

      <!-- D2 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.tue' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d2')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d2_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d2') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d2_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d2_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d2_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d2') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d2_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d2_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

      <!-- D3 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.wed' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d3')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d3_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d3') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d3_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d3_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d3_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d3') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d3_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d3_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

      <!-- D4 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.thu' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d4')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d4_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d4') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d4_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d4_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d4_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d4') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d4_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d4_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

      <!-- D5 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.fri' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d5')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d5_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d5') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d5_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d5_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d5_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d5') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d5_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d5_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

      <!-- D6 -->
      <div class="grid-item">
        <div class="day"><p>{{ 'SEARCH.week-day.sat' | translate }}<br><span *ngIf="isCabinet">{{ displayHumanDate(weekDates.get('d6')) }}</span></p></div>
        <div class="column">
          <div class="empty" [ngClass]="(time.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let time of timeArray"></div>
        </div>
        <div class="subjects">
          <div class="block" id="d6_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d6') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d6_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d6_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
          <div class="block" id="d6_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.bookingSchedule.get('d6') | keyvalue" (click)="openSubject(subject.value)">
            <h2 id="d6_{{ setSubjectId(subject.key) }}_title"></h2>
            <p id="d6_{{ setSubjectId(subject.key) }}_room"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
