<div class="outer">
    <div class="calendarHolder">
      <!-- booking coontent -->
      <div class="legend">
        <p>{{ 'HOME.bookings' | translate }}</p>
        <h2 id="bookingError" *ngIf="bookings.length == 0">{{ errorMessages.get(app.language)?.get(errorStatusBooking) }}</h2>
        <div *ngIf="bookings.length != 0">
          <div class="item" *ngFor="let item of bookings">
            <p>{{ 'HOME.room' | translate }}: {{item.room}}</p>
            <p>{{ 'HOME.date' | translate }}: {{item.date.split('T')[0]}}</p>
            <p>{{ 'HOME.time' | translate }}: {{item.start_time}} - {{item.end_time}}</p>
            <p>{{ 'HOME.reason' | translate }}: {{item.reason}}</p>
            <p>{{ 'HOME.status' | translate }}: <span [ngStyle]="{'color': item.confirmed ? '#1ad740' : '#e1a42b'}"> {{ itemsLoader.bookingStatus?.get(app.language)?.get(item.confirmed) }}</span></p>
        </div>
        </div>
      </div>
    </div>
  
    <div class="content"> 
      <!-- schedule content --> 
      <h2 class="searchField">{{searchValue}}</h2>
      <button *ngIf="searchSuccess" class="export" mat-icon-button (click)="getPdf(0)"
      [mdePopoverTriggerFor]="appPopoverExport" mdePopoverTriggerOn="none">
      <mat-icon>get_app</mat-icon> 
    </button>
    <mde-popover #appPopoverExport="mdePopover" [mdePopoverOverlapTrigger]="false">
      <mat-card class="matCard">
        <mat-card-content>
          {{ 'SEARCH.popover.no-export' | translate }}
        </mat-card-content>
      </mat-card>
    </mde-popover>

      <h2 *ngIf="weekSchedule.size == 0" class="searchField">{{ errorMessages.get(app.language)?.get(this.errorStatusTimetable) }}</h2>
      <div *ngIf="weekSchedule.size != 0" class="grid-container">
        <div class="grid-item">
          <div class="day"></div>
          <div class="column">
            <div class="time" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"><p>{{ hour }}</p></div>
          </div>
        </div>
  
        <!-- D1 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.mon' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d1_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d1') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d1_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d1_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
        <!-- D2 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.tue' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d2_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d2') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d2_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d2_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
        <!-- D3 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.wed' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d3_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d3') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d3_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d3_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
        <!-- D4 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.thu' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d4_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d4') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d4_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d4_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
        <!-- D5 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.fri' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d5_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d5') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d5_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d5_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
        <!-- D6 -->
        <div class="grid-item">
          <div class="day"><p>{{ 'SEARCH.week-day.sat' | translate }}<br></p></div>
          <div class="column">
            <div class="empty" [ngClass]="(hour.split(':')[1] === '00')? 'bold':'regular'" *ngFor="let hour of timeArray"></div>
          </div>
          <div class="subjects">
            <div class="block" id="d6_{{ setSubjectId(subject.key) }}" *ngFor="let subject of this.weekSchedule.get('d6') | keyvalue" (click)="openSubject(subject.value)">
              <p id="d6_{{ setSubjectId(subject.key) }}_title"></p>
              <p id="d6_{{ setSubjectId(subject.key) }}_room"></p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  