<div class="outer">
    <div class="content">
        <div class="formHolder">
            <h2>{{ 'BOOKING.bookingForm' | translate }}</h2>

            <div class="selectHolder" >
                <p>{{ 'BOOKING.selectBy' | translate }}</p>
                <mat-button-toggle-group name="fontStyle" value="Date" (change)="setSelectMode($event)" aria-label="Font Style">
                    <mat-button-toggle value="Date">{{ 'BOOKING.date' | translate }}</mat-button-toggle>
                    <mat-button-toggle value="Room">{{ 'BOOKING.room' | translate }}</mat-button-toggle>
                  </mat-button-toggle-group>
            </div>

            <div *ngIf="select=='Room'">
                <div class="inputHolder">
                    <p>{{ 'BOOKING.cabinet' | translate }}</p>
                    <input matInput [(ngModel)]="byRoom.cabinet" (ngModelChange)="filter()" maxlength="9" type="text" placeholder="C1.1.114P" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setValues($event); getDataForRoomEvents()">
                        <mat-option *ngFor="let room of searchedRooms" [value]="room['name']+'-'+room['id']">
                            {{room['name']}}
                        </mat-option>
                    </mat-autocomplete>
                </div>

                <div class="inputHolder" >
                    <p>{{ 'BOOKING.chooseDate' | translate }}</p>
                    <div>
                        <input (dateChange)="getDataForRoomEvents()" [min]="today" [max]="maxDate" [(ngModel)]="byRoom.date" matInput [matDatepicker]="picker" readonly="true" [matDatepickerFilter]="app.myFilter">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
        
                <div class="dateHolder">
                    <div class="inputHolder" style="width: 45% !important;">
                        <p>{{ 'BOOKING.startTime' | translate }}</p>
                        <input [(ngModel)]="byRoom.startTime" type="time" placeholder="HH:MM">
                    </div>
    
                    <div class="inputHolder" style="width: 45% !important;">
                        <p>{{ 'BOOKING.endTime' | translate }}</p>
                        <input [(ngModel)]="byRoom.endTime" type="time" placeholder="HH:MM">
                    </div>
                </div>
    
                <div class="inputHolder" style="width: 100%;">
                    <p>{{ 'BOOKING.reason' | translate }}</p>
                    <textarea [(ngModel)]="byRoom.comment" type="text" placeholder="{{ 'BOOKING.enterComment' | translate }}"></textarea>
                </div>
                
            </div>

            <div *ngIf="select=='Date'">
                <div class="inputHolder" >
                    <p>{{ 'BOOKING.chooseDate' | translate }}</p>
                    <div>
                        <input (dateChange)="cabinetByDate()" [min]="today" [max]="maxDate" [(ngModel)]="byDate.date" matInput [matDatepicker]="picker" readonly="true" [matDatepickerFilter]="app.myFilter">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
    
                <div class="dateHolder">
                    <div class="inputHolder" style="width: 45% !important;">
                        <p>{{ 'BOOKING.startTime' | translate }}</p>
                        <input [(ngModel)]="byDate.startTime" (ngModelChange)="cabinetByDate()" type="time" placeholder="HH:MM">
                    </div>
    
                    <div class="inputHolder" style="width: 45% !important;">
                        <p>{{ 'BOOKING.endTime' | translate }}</p>
                        <input [(ngModel)]="byDate.endTime" (ngModelChange)="cabinetByDate()" type="time" placeholder="HH:MM">
                    </div>
                </div>
    
                <div class="inputHolder" style="width: 100%">
                    <p>{{ 'BOOKING.reason' | translate }}</p>
                    <textarea [(ngModel)]="byDate.comment" type="text" placeholder="{{ 'BOOKING.enterComment' | translate }}"></textarea>
                </div>
            </div>

            <button class="send" (click)="send()" type="submit" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="none" #popoverTrigger="mdePopoverTrigger">{{ 'BOOKING.send' | translate }}</button>
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                <mat-card style="max-width: 300px">
                  <mat-card-content>
                    {{sendMessage}}
                  </mat-card-content>
                </mat-card>
              </mde-popover>

        </div>
        
        <div class="timetableHolder">
            <div *ngIf="select=='Room'">
                <h2>{{app.displaySelectedDate(byRoom.date)}} <span *ngIf="byRoom.cabinet">| {{byRoom.cabinet}}</span></h2>
                <div>
                    <div class="itemHolder" *ngFor="let item of events">
                        <div class="left">
                            <p>{{item.start_time}}</p>
                            <p>{{item.end_time}}</p>
                        </div>
                        <div class="right">
                            <p class="subject">{{item.reason}}</p>
                            <p class="tutor">{{item.reserver}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="messageByRoom">
                    <h2>{{messageByRoom}}</h2>
                </div>
            </div>

            <div *ngIf="select=='Date'">
                <h2>{{app.displaySelectedDate(byDate.date)}} <span *ngIf="byDate.cabinet">| {{byDate.cabinet}}</span></h2>
                <div>
                    <div class="itemHolder" *ngFor="let item of rooms">
                        <div class="right">
                            <p class="subject">{{item.name}} | {{item.type}}</p>
                            <p class="subject">{{ 'BOOKING.seats' | translate }}: {{item.seats}}</p>
                        </div>
                        <div class="check">
                            <section class="example-section">
                                <mat-checkbox [checked]="checked === item.id" (change)="setCheckedCabinet(item.name,item.id)"></mat-checkbox>
                              </section>
                        </div>
                    </div>
                </div>
                <div *ngIf="messageByDate">
                    <h2>{{messageByDate}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>


