<div class="outer">
    <div class="content">
        <div class="formHolder">
            <h2>Booking Form</h2>

            <div class="inputHolder">
                <p>Choose a date</p>
                <div>
                    <input (keyup)="setDate($event)" (dateChange)="setDate($event)" [value]="date" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
            </div>

            <div class="dateHolder">
                <div class="inputHolder">
                    <p>Start Time</p>
                    <input (change)="setTime('start',$event)" type="time" placeholder="HH:MM">
                </div>

                <div class="inputHolder">
                    <p>End Time</p>
                    <input (change)="setTime('end',$event)" type="time" placeholder="HH:MM">
                </div>
            </div>

            <div class="inputHolder">
                <p>Cabinet</p>
                <input (change)="setCabinet($event)" type="text" placeholder="C1.113" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let room of items.rooms" (onSelectionChange)="pickCabinet(room['name'], room['id'])" [value]="room['name']">
                      {{room['name']}}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <div class="inputHolder">
                <p>Comment</p>
                <textarea (keyup)="setComment($event)" type="text" placeholder="Enter a comment"></textarea>
            </div>

            <button class="send" [disabled]="cabinet?.length!=6" (click)="send()" type="submit">Send</button>

        </div>
        <div class="timetableHolder">
            <h2>{{formatDate(date)}} <span *ngIf="cabinet.length==6">| {{cabinet}}</span></h2>
            <div class="itemHolder" *ngFor="let item of timeTable">
                <div class="left">
                    <p>{{sliceString(item.created_time)}}</p>
                    <p>{{item.end_time}}</p>
                </div>
                <div class="right">
                    <p class="subject">{{item.reason}}</p>
                    <p class="tutor">{{item.reserver}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

